.header{
    background-color: darkgrey;
    flex: wrap;
    height:100px;
}

.webName{
    
    position:relative;
    color: white;
    top: 5%;
    left: 10%;
    font-family: 'Lobster', cursive;
    font-size: 50px;

}
.flights{
    float: left;
    margin: 10px;
    position:relative;
    left: 50%;
    top:-35px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.flights:hover{
    opacity: 80%;
    color: white;
    
}
.sights{
    float: left;
    position:relative;
    left: 60%;
    top: -25px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    
}
.sights:hover{
    opacity: 80%;
    color: white;
    
}
.flightHeader{
    font-family: "Lobster",cursive;
    font-size: 30px;
}
.weatherHeader{
    
    font-family: "Lobster",cursive;
    font-size: 30px;
    
}
.flightPlanner{
    font-family: "Lobster",cursive;
    font-size: 30px;
}
.datePickers{
    margin:20px;
}

fieldset {
    border: 0;
  }
  label {
    display: block;
    /* margin: 30px 0 0 0; */
  }
  .overflow {
    height: 200px;
  }

  @media screen and (max-width:768px){
   .flights {
       font-size: 20px;
       left:42%;
       bottom:8px;      
   }
   .sights {
    font-size: 20px;
    left:45%;
    top:-30px;      
}
   }
  